@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: "Montserrat", sans-serif;
}

.bg-meetme {
  background-image: url("../../static/assets/meetmeicons.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
}
.bg-mails {
  background-image: url("../../static/assets/mails.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.bg-puzzles {
  background-image: url("../../static/assets/puzzles.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.bg-faq {
  background-image: url("../../static/assets/faq.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.vertical-timeline::before {
  background-color: #253274 !important;
}

@media (max-width: 768px) {
  .vertical-timeline-element-content {
    text-align: left !important;
  }
}

@media (min-width: 1170px) {
  .vertical-timeline-element-content {
    padding-inline: 0px !important;
    margin-inline: 0px !important;
  }
}
