@font-face {
  font-family: BebasNeueRegular;
  src: url(./BebasNeue-Regular.otf);
}
@font-face {
  font-family: BebasNeueBook;
  src: url(./BebasNeue-Book.otf);
}
@font-face {
  font-family: BebasNeueLight;
  src: url(./BebasNeue-Light.otf);
}
@font-face {
  font-family: BebasNeueBold;
  src: url(./BebasNeue-Bold.otf);
}
@font-face {
  font-family: Montserrat;
  src: url(./Montserrat-Regular.otf);
}
