---
import ConsentBootstrap from "../integrations/consent/ConsentBootstrap.astro"
import ConsentManager from "../integrations/consent/ConsentManager.astro"
import "@fontsource/montserrat/latin-400.css"
import "@fontsource/montserrat/latin-600.css"
import "@fontsource/montserrat/latin-700.css"
import "@fontsource/montserrat/latin-ext-400.css"
import "@fontsource/montserrat/latin-ext-600.css"
import "@fontsource/montserrat/latin-ext-700.css"
import "@fontsource/anton/latin-400.css"
import "@fontsource/anton/latin-ext-400.css"
import "../styles/global.css"

interface Props {
  brand: "magic"
}

const { brand } = Astro.props
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <slot name="head" />
    <ConsentBootstrap />
  </head>
  <body data-brand={brand}>
    <slot />
    <ConsentManager />
  </body>
</html>
